[submodule "anicast-frontend"]
	path = anicast-frontend
	url = https://github.com/henriquedescosta/anicast-frontend.git
[submodule "anicast-backend"]
	path = anicast-backend
	url = https://github.com/henriquedescosta/anicast-backend.git
