[submodule "frontend"]
path = anicast-frontend
https://github.com/henriquedescosta/anicast-frontend.git

[submodule "backend"]
path = anicast-backend
https://github.com/henriquedescosta/anicast-backend.git
